<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Finance - Inicio</title>
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">FINANCE</span>
            </a>
            <div class="d-flex text-end m-1">
                <span class="mx-3">R$0,00</span>
                <div class="dropdown mx-2">
                    <a href="#" class="d-block link-secondary text-decoration-none dropdown-toggle" id="dropdownAccount"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Poupança
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownAccount">
                        <li><a class="dropdown-item active" href="#">Poupança</a></li>
                        <li><a class="dropdown-item" href="#">Corrente</a></li>
                        <!--<li><span class="dropdown-item-text">Sem contas...</span></li>-->
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Adicionar conta</a></li>
                    </ul>
                </div>
                <div class="dropdown mx-2">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }}
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-secondary btn-sm">Nova transação</button>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Transação</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Valor (R$)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>00/00/0000</td>
                            <td>random</td>
                            <td>data</td>
                            <td>-70,00</td>
                        </tr>
                        <tr>
                            <td>00/00/0000</td>
                            <td>random</td>
                            <td>data</td>
                            <td>-70,00</td>
                        </tr>
                        <tr>
                            <td>00/00/0000</td>
                            <td>random</td>
                            <td>data</td>
                            <td>-70,00</td>
                        </tr>
                        <tr>
                            <td>00/00/0000</td>
                            <td>random</td>
                            <td>data</td>
                            <td>-70,00</td>
                        </tr>
                        <tr>
                            <td>00/00/0000</td>
                            <td>random</td>
                            <td>data</td>
                            <td>-70,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>  
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>